/* importing google font to be used in the project */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

.ChatMessages,
html {
  scrollbar-width: thin;
  scrollbar-color: rgb(185, 185, 185) #e1e1e1;
}

html::-webkit-scrollbar {
  width: 8px;

}

html::-webkit-scrollbar-thumb {
  background-color: rgb(185, 185, 185);
  border-radius: 10px;
}

html::-webkit-scrollbar-track {
  background-color: #e1e1e1;
}

/* removing the default margins and paddings on all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font);
}

/* setting css variable for colors, font ,sizes  */
:root {
  --primaryClor: #2B625B;
  --secondaryColor: #C4D293;
  --textColor: rgb(106, 106, 106);
  --font: 'Roboto', sans-serif;
}


/* register and login page styles */
.login {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
}

.loginLeft {
  flex: 50vw;
}

.loginLeft img {
  width: 100%;
  height: 100vh;
}

.loginRight {
  flex: 50vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.formDiv {
  width: 60%;
}

.formHeading {
  text-align: center;
  margin-bottom: 20px;
}

.formHeading h1 {
  color: var(--primaryClor);
  font-size: 35px;
  font-weight: 900;
}

.formHeading h1 span {
  color: var(--secondaryColor);
}

.formHeading h2 {
  color: var(--textColor);
  font-size: 15px;
  font-weight: 500;
  margin-top: 10px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.loginRight input {
  width: 100%;
  outline: none;
  height: 40px;
  padding-left: 15px;
  border-radius: 6px;
  border: 1px solid rgb(106, 106, 106);
  font-family: var(--font);
  font-size: 15px;
  color: var(--textColor);
}

.loginRight input:focus {
  border: 2px solid rgb(106, 106, 106);
}

.formDiv label {
  display: block;
  text-align: center;
  width: 100%;
  background-color: var(--secondaryColor);
  padding: 20px 0;
  border-radius: 8px;
  color: rgb(39, 39, 39);
}

.loginRight button {
  height: 40px;
  width: 100px;
  border: none;
  background-color: var(--primaryClor);
  color: white;
  width: 100%;
  border-radius: 6px;
}

.formDiv p {
  text-align: center;
  margin-top: 20px;
  font-size: 15px;
}

/* drawer */
.drawer {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: var(--primaryClor);
}

.drawerNav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 250px;
  align-items: center;
}

.logo h1 {
  font-size: 20px;
  font-weight: 900;
  color: white;
}

.logo h1 span {
  color: var(--secondaryColor);
}

.profileNav {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  overflow: hidden;
}

.profileNav img {
  height: 35px;
  width: 35px;
}

/* search bar styling */
.searchBar {
  width: 250px;
  margin-bottom: 10px;
}

.searchBar input {
  width: 100%;
  border: none;
  outline: none;
  height: 40px;
  color: rgb(217, 217, 217);
  font-size: 15px;
  background-color: #416d67;
  padding-left: 15px;
  border-radius: 15px;
}

.searchBar input::placeholder {
  color: rgb(217, 217, 217);
}

/* styles for chat in the side  bar */
.chatListDvi {
  overflow: scroll;
  flex-direction: 3;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: rgb(185, 185, 185) #e1e1e1;
}

/* styling the scroll bar for the chat div.  */
.chatListDvi::-webkit-scrollbar {
  width: 5px;
}

.chatListDvi::-webkit-scrollbar-thumb {
  background-color: rgb(185, 185, 185);
  border-radius: 10px;
}

.chatListDvi::-webkit-scrollbar-track {
  background-color: #e1e1e1;
}

/* style for individual chat container */
.chat {
  display: flex;
  width: 100%;
  flex-direction: row;
  gap: 15px;
  padding: 10px 20px;
}

.chat:hover {
  background-color: #416d67;
}

.chatAvator {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  overflow: hidden;
}

.chatAvator img {
  height: 45px;
  width: 45px;
}

.chatDetails {
  width: 150px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

}

.chatDetails h3 {
  color: rgb(217, 217, 217);
  font-size: 14px;
  font-weight: 600;
  margin: 6px 0 4px 0;
}

.chatDetails p {
  color: rgb(217, 217, 217);
  font-size: 12px;
  font-weight: 300;

}

/* styling the navbar that is in the main container */
.chatSection {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.ChatNav {
  flex: 10vh;
  background-color: var(--secondaryColor);
  padding: 0 20px;
  display: flex;
  align-items: center;
}

.ChatNav span {
  font-weight: 700;
  color: white;
}

.ChatMessages {
  flex: 80vh;
  padding: 20px 20px;
  background-color: #fdfff5;
  overflow: scroll;
  overflow-x: hidden;
}

.ChatMessages {
  scrollbar-width: thin;
  scrollbar-color: rgb(185, 185, 185) #e1e1e1;
}

.ChatMessages::-webkit-scrollbar {
  width: 8px;

}

.ChatMessages::-webkit-scrollbar-thumb {
  background-color: rgb(185, 185, 185);
  border-radius: 10px;
}

.ChatMessages::-webkit-scrollbar-track {
  background-color: #e1e1e1;
}

.ChatInput {
  flex: 10vh;
  background-color: white;
  padding: 0 20px;

}

.messageRecived {
  display: flex;
  flex-direction: column;
}

.messageText {
  background-color: rgb(215, 215, 215);
  padding: 10px;
  width: fit-content;
  border-radius: 15px 15px 0 15px;
  max-width: 350px;
}

.messageImage img{
  background-color: rgb(215, 215, 215);
  margin: 10px 0;
  max-width: 300px;
}

.typingInput {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  margin-top: 13px;
}

.typingInput input {
  width: 100%;
  outline: none;
  height: 35px;
  padding-left: 20px;
  border-radius: 10px;
  border: none;
  font-size: 16px;
  color: var(--textColor);
}

.send {
  display: flex;
  gap: 10px;
}

.send button {
  background: transparent;
  border: none;
}